# Dependencies
node_modules/

# Nuxt build
.nuxt/
dist/

# Environment
.env
.env.*
.dev.vars
!.dev.vars.example

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Misc
*.log

.claude


clean.js
fix.js
prompt_siap.txt
context.md